<p>
10. “I’ve Got You Under My Skin” Frank Sinatra puts an elegant spin on this romantic melody. They didn’t call him the “first teen idol” for nothing.
<br>
9. “Mack the Knife” Youngsters in the 1990s may not have known who Frank Sinatra was, but they knew “Mack Tonight” from the McDonald’s commercials based on this Sinatra hit. This song had the New York City “edge” to it that came to epitomize Sinatra.
<br>
8. “Let it Snow” Frank Sinatra singing this song has set the tone for many holiday gatherings down through the years. It’s romantic, and it’s festive, and it’s pure Frank.
<br>
7. “Ole Man River” Hearing Frank Sinatra sing this rich, slow melody showcases his range of talent. This is one of his most beautiful songs.
<br>
6. “Luck Be a Lady” This song from the musical “Guys and Dolls” was later picked up and associated with Frank Sinatra. The 1950 musical was set in the gangster era of the 1920s and 1930s, and it seemed to fit Sinatra’s style perfectly.
<br>
5. “Strangers in the Night” This song has been done, redone and done again, but Sinatra’s 1966 recording of “Strangers in the Night” cannot be outdone. Hearing him sing, “Doobie, doobie, doo” is the best part of the song. This song ushered in a comeback of sorts for Sinatra on the pop charts.
<br>
4. “Have Yourself a Merry Little Christmas” There is not a Christmas collection recorded without this song, and most of them include Frank Sinatra singing it. Nobody does it better than the voice of Christmas himself.
<br>
3. “My Way” Many would tag this as Sinatra’s biggest hit or most well-known song. Also done by Elvis Presley in his later years, the song came close to being a parody of itself! Although not this writer’s favorite, possibly disqualified due to repetition, this song certainly gives the listener a full-blown taste of the voice and personality that is Frank Sinatra.
<br>
2. “My Kind of Town (Chicago is) This tribute to Chicago was written for the 1964 Rat Pack film called, “Robin and the 7 Hoods.” It has become a sort of Chicago theme song.
<br>
1. “New York, New York” This opening of this song is worth the price of admission: “I’m spreading the news….” It makes you want to join a chorus line and kick up your heels! If ever there were a National Anthem of New York City, this would surely be it.10. “I’ve Got You Under My Skin” Frank Sinatra puts an elegant spin on this romantic melody. They didn’t call him the “first teen idol” for nothing.
</p>